SECRET_KEY=django-insecure-!2(u^e%+m!)8km09$@k+9zv^kzc=f&c9&)k&!db3*g@xorxk8k
DEBUG=True

# Database Settings (Leave empty to use sqlite)
# DATABASE_URL=postgres://user:password@localhost/dbname

# Email settings for SMTP (Gmail Example)
# You need to generate an App Password in your Google Account settings
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
